@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    height: 900px;
    font-size: 16px;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color:  hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 451px;
    text-align: center;
    border-radius: 1em;

    .main-hero{
        padding: 54px 49px;
    }

    .head-img{
        height: 221px;
        width: 100%;
        border-radius: 1em 1em 0 0;
    }

    .head-tag{
        color: hsl(223, 47%, 23%);
        font-weight: 900;
        padding-bottom: 22px;
    }

    .content{
        line-height: 1.5em;
        font-weight: 500;
        color: hsl(224, 23%, 55%);
        padding-bottom: 20px;
    }
}

.plan{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 24px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;

    .sec{
        display: flex;
        gap:0 18px;
        align-items: center;

        img{
            height: 50px;
            object-fit: cover;
        }
    }

    .spec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px 0;
        .plan-name{
            font-size: 18px;
            color: hsl(223, 47%, 23%);
            font-weight: 900;
        }
        .rate{
            color: hsl(224, 23%, 55%);
        }
    }
    
    a{
        font-weight: 700;
        padding: 10px;
    }

    .change:hover{
        text-decoration: none;
        color: hsl(224, 23%, 55%);
    }
}

.gateway{
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-style: none;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin: 32px 0;
    box-shadow: 1px 8px 18px 1px hsl(224, 23%, 55%);
}

.gateway:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.cancel{
    border: none;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    background-color: white;
    font-weight: 700;
}

.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    body {
        height: 709px;
        background-image: url(/images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100% 50%;
        font-size: 12px;
    }
    .hero{
        width: 327px;

        .main-hero{
            padding:32px 25px;
        }

        .head-img{
            height: 160px;
        }

        .head-tag{
            padding-bottom: 22px;
        }

        .content{
            font-size: 16px;
            padding-bottom: 27px;
        }
    }

    .plan{
        height: 82px;
        padding: 18px 16px;

        .spec{
            gap: 4px 0;
            .plan-name{
                font-size: 14px;
            }
            .rate{
                font-size: 14px;
            }
        }
    }
    
    .gateway{
        height: 50px;
        margin: 25px 0;
    }
}

@media only screen and (max-width: 320px){
    body {
        font-size: 10px;
    }
    .hero{
        width: 300px;

        .main-hero{
            padding:30px 22px;
        }
        .head-tag{
            padding-bottom: 18px;
        }
        .content{
            font-size: 15px;
            padding-bottom: 25px;
        }
    }

    .plan{
        height: 78px;
        padding: 16px 14px;
    }
    
    .gateway{
        height: 46px;
        margin: 25px 0;
    }
}
